/* - Mobile: 375px
- Desktop: 1440px

### Primary */

/* font-family: 'Fraunces', serif;

    font-family: 'Montserrat', sans-serif; */

:root {
  --clr-primary-Dark-cyan: hsl(158, 36%, 37%);
  --clr-primary-Cream: hsl(30, 38%, 92%);
  --clr-neutral-very-dark-blue: hsl(212, 21%, 14%);
  --clr-neutral-darkish-blue: hsl(228, 12%, 48%);
  --clr-neuatral-white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-primary-Cream);
}

p {
  font-size: 0.875rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  border-radius: 10px 10px 0 0;
}
section {
  padding-left: 0.5em;
}
.item {
  background-color: var(--clr-neuatral-white);
  margin: 2em 1em;
  border-radius: 10px;
  max-width: 343px;
}

.item__lead {
  color: var(--clr-neutral-darkish-blue);
  text-transform: uppercase;
  margin: 2em 0 0 1em;
  letter-spacing: 0.5em;
  font-size: 0.77rem;
  opacity: 0.6;
  font-weight: 500;
}
.item__title {
  color: var(--clr-neutral-very-dark-blue);
  font-family: 'Fraunces', serif;
  font-size: 1.8rem;
  line-height: 1em;
  font-weight: 700;
  margin: 0.5em;
}

.item__description {
  font-size: 0.875rem;
  margin: 0 1em;
  color: var(--clr-neutral-darkish-blue);
}

.item__price {
  color: var(--clr-primary-Dark-cyan);
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 2em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0;
}

.item__price span {
  color: var(--clr-neutral-darkish-blue);
  font-weight: 100;
  font-size: 0.875rem;
  margin-left: 1em;

  vertical-align: text-top;
}

.btn__icon {
  display: inline-block;
  margin-right: 0.6em;
}

.btn {
  background-color: var(--clr-primary-Dark-cyan);
  color: var(--clr-neuatral-white);
  padding: 0.7em 6em;
  text-align: center;
  margin: 0.5em auto 1.5em auto;
  display: block;
  border-radius: 5px;
  border: none;
}

.btn:hover,
.btn:active {
  background-color: hsl(158, 36%, 20%);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  img {
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
  }

  .item {
    min-width: 600px;
    display: flex;
    flex-direction: row;
  }

  .item__lead {
    padding-top: 0.5em;
    padding-left: 0.5em;
  }

  .item__title {
    /* margin: 0 1.5em 0 1em; */
    font-size: 2rem;
    padding-right: 0.5rem;
  }

  .item__description {
    padding-right: 1em;
    padding-left: 0.5em;
  }
  .item__price {
    font-size: 2rem;
    padding-left: 0.8em;
    padding-bottom: 0.1rem;
  }

  .item__price span {
    font-size: 0.8rem;
    vertical-align: center;
  }

  .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn__icon {
    width: 1rem;
    margin-right: 0.5em;
    vertical-align: bottom;
  }
  .btn {
    font-size: 1rem;
    padding: 0.875em 4em;
    text-align: center;
  }
}
